# Eclipse
.classpath
.project
.settings/


# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

**/*.pdf

# Local .terraform directories
.terraform/*

.terraform/plugins/**
# .tfstate files
*.tfstate
*.tfstate.*

*.zip

node_modules/

output.txt